.fixed-bar {
    position: fixed;
    width: 100%;
    z-index: 500;
}
header {
    display: flex;
    align-items: center;
    height: 80px;
    padding: 0 2rem;
    justify-content: right;
}
nav {
    display: flex;
    align-items: center;
    justify-content: right; 
}
nav button {
    margin-right: 25px;
    color: #324567;
    border: 0;
    text-decoration: none;
    background-color: transparent;
}
nav button:hover {
    color: blue;
}
header .nav-btn {
    padding: 5px;
    cursor: pointer;
    background: transparent;
    border: none;
    outline: none;
    color: #324567;
    visibility: hidden;
    opacity: 0;
    font-size: 1.8rem;
}

.landing-image1 {
    position: absolute;
    z-index: 1;
    width: 115%;
    height: auto;
    margin-top: -270px;
    overflow: hidden;
}

.landing-image2 {
    position: absolute;
    z-index: 2;
    width: 100%;
    height: auto;
    padding-top: 34px;
}

.landing-content {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-bottom: 200px;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
}
.page {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #F2F6FF;
}
.landing-page {
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
}

.about-us-cont {
    width: 100%;
    max-width: 850px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 3;
    height: 100vh; 
}
.card-judul {
    color: white;
    background-color: #324567;
    height: 50px;
    width: 150px;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}
.paragraf {
    font-family: 'Montserrat', sans-serif;
    text-align: justify;
    margin: 5%;
}
.contact-cont {
    width: 80%;
    max-width: 1000px;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.card-contact {
    width: 300px;
    height: 250px;
    align-items: center;
    display: flex;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 5%;
    position: relative;
}
.lingkaran {
    width: 50px;
    height: 50px;
    background-color: #324567;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

@media only screen and (max-width: 1024px){
    header .nav-btn{
        visibility: visible;
        opacity: 1;
    }
    header nav{
        position: fixed;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 1.5rem;
        background-color: rgb(255, 255, 255);
        transition: 1s;
        transform: translateY(-100vh);
    }
    header .responsive_nav{
        transform: none;
    }
    nav .nav-close-btn{
        position: absolute;
        top: 2rem;
        right: 2rem;
    }
    nav button{
        font-size: 1.5rem;
    }
    .login{
        margin-left: -25px;
    }
    
}