<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8" />
    <title>Monthly Recap of Student Leave Permissions</title>
</head>

<body>
    <div class="container-fluid">
        <div style="background-color: #324567;">
            <br>
        </div>

        <div style="padding: 10px;">
            <div style="padding-left: 20%">
                <div>
                    Assalamualaikum wr.wb Bapak/Ibu {{ketuaProdi}}, <br><br>

                    Berikut adalah ringkasan izin keluar mahasiswa per bulan: <br><br>

                    <!-- Insert a link to the exported Excel file or provide instructions -->
                    <a href="{{linkToMonthlyRecapExcel}}" target="_blank">Unduh Ringkasan Bulanan Izin Keluar (Excel)</a> <br><br>

                    Mohon segera diperiksa dan diproses. Terima kasih. <br><br>

                    Terima Kasih, <br>
                    Sistem Permitly
                </div>
            </div>
        </div>
        <div style="background-color: #324567; color:white">
            Pesan ini dikirim menggunakan sistem Permitly <br>
        </div>
    </div>
</body>

</html>
